mat-form-field {
  width: 100%;
}

mat-card {
  margin-left: 25%;
  margin-right: 25%;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
